*{
  font-family: 'Ubuntu', sans-serif;
}
body {
  scrollbar-width: auto;
  scrollbar-color: blue orange; 
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.css-10bomdi-MuiButtonBase-root-MuiCheckbox-root{
   color:#2fb8ed !important; 
  background-color: white;
}
.css-10bomdi-MuiButtonBase-root-MuiCheckbox-root:hover {
  background-color: rgba(25, 118, 210, 1) !important;
  color:#f8f9f9;
}
.css-10bomdi-MuiButtonBase-root-MuiCheckbox-root.Mui-checked{
  color:#f8f9f9 !important;
  
}
