.Instagram:checked {
    background-color: white !important;
}

.Dialogo1 {
    background-color: rgba(0, 0, 0, 0.5) !important;
    position: absolute !important;
    z-index: 1000000000 !important;
    display: flex;
    align-items: flex-end;
    justify-content: center;

}

.Group8 {
    position: relative;
    margin-top: 10px;
    width: 80px;
    height: 80px;

}

@media(max-width: 500px) {

    .Button {
        width: 30% !important;
        font-size: 10.5px !important;
        padding-right: 15px !important;
        padding-left: 20px !important;
    }

    .Input {
        width: 100%;
    }

    .h5 {
        font-size: 10px;
    }

    .BoxSeleccion {
        font-size: 17px;
    }

    .h1 {
        font-size: 19px;
    }

    .h2 {
        font-size: 19px;
    }
}

@media(max-width: 394px) {
    .BoxSeleccion {
        margin-bottom: -20px !important;
    }
}
.section{
    background:linear-gradient(25deg, #41D8DD,#3498DB,#024761) ;
}
.ButtonVolver:hover{
    background-color: #3498DB !important;
    color:white !important;
}