/* .caja {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 800px;
    height: 658.3px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    border-radius: 8px;
    border: 2px solid #3F55BA;
} */

.hola span {
    width: 100px !important;
    height: 100px !important;
}

.ErrorBox {

    width: 100%;
    /* height: 450px; */
    position: relative;
    max-width: 700px;
    margin: 50px auto;
    border-radius: 10px;
    border: 2px solid #F8F9F9;
    box-shadow: 1px 3px 2px 1px rgba(0, 0, 0, 0.3);
    background-color: white;
}

.Group8 {
    position: relative;
    margin-top: 50px;
    width: 80px;
    height: 80px;

}

.h2 {
    position: relative;
    margin-top: 10px;

}

.Button {
    background-color: #2F9DED;
    color: white;
    margin-bottom: 10px;
    margin-top: 20px;
    border-radius: 20px;
}
.cuerpo{
    word-wrap: break-word;
}
.url{
    word-wrap: break-word;
}
.fecha{
    word-wrap: break-word;
}
.hashtag{
    word-wrap: break-word;
}
.name{
    word-wrap: break-word;
}
.menciones{
    
        word-wrap: break-word;
    
}

@media(max-width: 600px) {
    .cuerpo {
        font-size: 13px !important;
    }

    .url {
        font-size: 13px !important;
    }

    .fecha {
        font-size: 13px !important;
    }

    .hashtag {
        font-size: 13px !important;
    }

    .burbuja {
        width: 200px;
    }

}

@media(max-width: 550px){
    .MenuEsquemas{
        width:200px;
        height: 200px;
    }
    .Burbuja {
        margin-right: -30px;
    }
    .BotonVolver{
        margin-left: 55px !important;  
    }
}

@media(max-width: 700px) {
    .Paper {
        width: 1000px !important;
    }
}
/* @media((min-width: 600px) and (max-width: 465px)){
    .ButtonInput{

    }
} */

/* .ButtonInput{
    right: 0;
    position: absolute;
} */
@media (max-width: 1200px) {
    .nueva{
        width: 70% !important;
        margin-left: 16% !important;
        height: 43px;
        font-size: 14px !important;
        padding-bottom: 10px !important;
        margin-top: 20px !important;
        margin-bottom: 21px !important;
        position: relative !important;
    }
     .BusquedaTwitt{
        position: relative !important;
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
        top: 110px !important;
        color: black !important;
        left: 50% !important;
        font-size: 11px !important;
        text-align: center;
        margin-top: -20px !important;
        padding-bottom: 15px;
    } 
     /* @media(max-width: 550px){
        .nueva{
            width: 40% !important;
            font-size: 10px !important;
            text-align: center !important;
            height: 25px !important;
            margin-top: -70px !important;
            white-space: pre !important;
            padding-right: 17px !important;
            
        }
        .BusquedaTwitt{
            font-size: 15px;
        }
    }  */
}