/* img{
 position: absolute;
 z-index: -999999;
 top: -20px;
} */

/* .Box ul li{
    
    display: inline-block;
} */

/* .Instagram{
color: rgb(47, 184, 237) !important;
/* background-color: white !important; */
/* }  */

/* .Twitter{
color: rgb(47, 184, 237) !important;
/* background-color: white !important; */
 /* }  */
/* .Facebook{
color: rgb(47, 184, 237) !important;
/* background-color: white !important; */
/* }  */
/* .Linkedin{
 color: rgb(47, 184, 237) !important;
 /* background-color: white !important; */
 /* }  */

/* .Instagram:hover{
     background-color: #F7F9F9 !important ;
 } */
 .Instagram:checked{
    background-color: white !important;
}
/* .Twitter:hover{
    background-color: #F7F9F9  !important;
    /* background-color: white !important; */
    /* }
    .Facebook:hover{
        background-color: #F7F9F9 !important ;
        /* background-color: white !important; */
        /* } */ 
        /* .Linkedin:hover{
            background-color: #F7F9F9  !important;
            /* background-color: white !important; */
            /* } */ 
            
            /* .Instagram .Mui-checked{
                color: #F7F9F9  !important;
                /* background-color: #f8f9f9 !important; */
                /* }  */ 
                /* .Mui-checked{
                    color:white;
                } */
                
                
                /* .css-10bomdi-MuiButtonBase-root-MuiCheckbox-root{
                    color:rgb(47, 184, 237) !important; 
                    
                } 
                .css-10bomdi-MuiButtonBase-root-MuiCheckbox-root:hover {
                    background-color: rgba(25, 118, 210, 1) !important;
                    color:#f8f9f9 !important;
                }  
                .css-10bomdi-MuiButtonBase-root-MuiCheckbox-root.Mui-checked{
                    color:#f8f9f9 !important;
                    
                } */
                .Dialogo1{
                    background-color: rgba(0, 0, 0, 0.5) !important;
                    position: absolute !important;
                    z-index: 1000000000 !important;
                    display: flex;
                    align-items: flex-end;
                    justify-content: center;
                    
                }
                
                @media(max-width: 500px){
                    
                    .Button{
                        width: 30% !important;
                        font-size: 10.5px !important;
                        padding-right: 15px !important;
                        padding-left: 20px !important;
                    }
                    .Input{
                        width: 100%;
                    }
                    .h5{
                        font-size: 10px;
                    }
                    .BoxSeleccion{
                        font-size: 17px;
                    }
                    .h1{
                        font-size: 19px;
                    }
                    .h2{
                        font-size: 19px;
                    }
                }
                @media(max-width: 394px){
                    .BoxSeleccion{
                        margin-bottom: -20px !important;
                    }
                }